<header class="header-wrapper">
    <div class="header">
        <div class="checkbox-container">
            <div class="checkbox-wrapper">
                <input type="checkbox" id="toggle">
                <label class="checkbox" for="toggle">
                    <div class="trace"></div>
                    <div class="trace"></div>
                    <div class="trace"></div>
                </label>
                <div class="menu"></div>
                <nav class="menu-items">
                    <ul>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/criar">Cadastrar</a>
                        </li>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<h1>Catalogo de Filmes Blue</h1>

</header>